:root{
  --on-bg: #eee;
  --on-box: #444;
  --off-bg: rgb(236, 210, 214);
  --off-box: rgb(150,0,20);
  --off-cb-bg: #fad9b8;
  --off-cb-box: #e67300;
}


/* The switch - the box around the slider */
.markup-btn {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.switch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 30px;
    align-self: center;
    transform: scale(-1, 1);
  }

  .tutorial-switch {
    position: absolute;
    display: block;
    margin: 0 auto;
    left: 0%;
    right: 0%;
    top: 70%;
    transform: scale(-1, 1);
  }

  .setting-switch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 30px;
    top: 50%;
    align-self: center;
    transform: scale(-1, 1);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* Button 11 */
#button-11 {
  overflow: visible;
}

#button-11 .knobs {
  perspective: 70px;
}

#button-11 .knobs:before,
#button-11 .knobs:after,
#button-11 .knobs span {
  position: absolute;
  top: 4px;
  border-radius: 2px;
}

#button-11 .knobs:before,
#button-11 .knobs:after {
  width: 15px;
  height: 10px;
  color: #4e4e4e;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
}

#button-11 .cb:before {
  content: "X";
  left: 8px;
  top: 2px;
}

#button-11 .cb:after {
  transform: scale(-1,1);
  content: "✓";
  right: 8px;
  top: 2px;
}

#button-11 .knobs span {
  right: 4px;
  width: 33px;
  height: 22px;
  background-color: var(--off-box);
  transform: rotateY(0);
  transform-origin: 0% 50%;
  transition: 0.6s ease all;
  z-index: 1;
}

#button-11 .checkbox:checked + .knobs span {
  transform: rotateY(-180deg);
  background-color: var(--on-box);
}

#button-11 .cb span {
  background-color: var(--off-cb-box);
}

#button-11 .cb-layer {
  background-color: var(--off-cb-bg);
}

#button-11 .checkbox:not(:checked) .cb span {
  background-color: var(--off-cb-box) !important;
}

#button-11 .checkbox:not(:checked) .cb-layer {
  background-color: var(--off-cb-bg) !important;
}

#button-11 .checkbox:checked ~ .layer {
  background-color: var(--on-bg);
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  width: 74px;
  height: 30px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: var(--off-bg);
  transition: 0.3s ease all;
  z-index: 1;
}