.light-theme {
    background-color: #fff;
    color: #111;
    transition: all 0.3s ease-in-out;
}

.dark-theme {
    background-color: #111;
    color: #ccc;
    transition: all 0.3s ease-in-out;
}

html {
    overflow-x: hidden;
  }

#cover-screen{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

 body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #111;
    width: 100%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  a {
    color: inherit;
  }

#app {
    max-width: 450px;
    margin: auto;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
#nav {
    margin-top: 1rem;
    display: flex;
    border-bottom: 1px solid lightgray;
    width: 100%;
    justify-content: space-between;
    overflow-y: none;
}

    #nav-about-btn {
        align-self: center;
        padding-left: 1rem;
        width: 30px;
    }

    #title {
        align-self: center;
        letter-spacing: 5px;
    }

    #nav-right-btns{
        display: flex;
    }
    
        #nav-stats-btn{
            align-self: center;
            padding-right: 1.5rem;
            width: 30px;
        }

        #nav-settings-btn{
            align-self: center;
            padding-right: 1rem;
            width: 30px;
        }

#about {
    position: absolute;
    top: 0;
    z-index: 1;
    min-height: 100vh;
    max-width: 450px;
    margin: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch !important;
}

    .ex-grid3-3 > div{
        margin: 0 !important;
    }

    .close-btn-about { /* Used in each settings, about and stats*/
        position: absolute;
        right: 0;
        width: 12px;
        margin-top: 1.5rem;
        margin-right: 2rem;
    }

    .section-header > h2 {
        text-align: center;
    }

    .section-header > p {
        font-size: 0.75rem;
        padding: 0 0.4rem;
    }

    .how-to-play {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .how-to-play > p{
        font-size: 0.6rem;
    }

#settings {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    min-height: 100%;
    padding: 2rem 0;
    overflow-y: none;
}


    .close-btn { /* Used in each settings, about and stats*/
        position: absolute;
        right: 0;
        width: 12px;
        margin-top: 1.5rem;
        margin-right: 2rem;
    }

    .setting {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px #aaa solid;
        padding: 1rem 0;
        width: 100%;
    }

    .section-txt > h3 {
        font-weight: bold;
        margin: 0;
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .section-txt > p {
        font-size: 0.6rem;
        margin: 0;
        padding: 0;
    }

    #feedback-txt {
        align-self: center;
        font-size: 0.6rem;
        justify-content: space-between;
    }

        .feedback-link, .feedback-link:link, .feedback-link:visited, .feedback-link:hover, .feedback-link:active {
            text-decoration: none !important;
            padding: 0.25rem;
            color: #aaa;
        }

    #setting-footer{
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        font-size: 0.5rem;
        width: 300px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
        min-height: 15%;
    }

.full-screen-cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.5);
    z-index: 2;
    overflow-y: none;
}

    .close-btn-stats { /* Used in each settings, about and stats*/
        position: absolute;
        right: 0;
        width: 12px;
        margin-top: 1.5rem;
        margin-right: 2rem;
    }

    .full-screen-container {
        display: grid;
        height: 100vh;
        max-width: 450px;
        margin: auto;
    }

    .card {
        width: 95%;
        place-self: center;
        min-height: 200px;
        margin: auto;
        border-radius: 4%;
        border: 1px #222 solid;
        padding-bottom: 1rem;
        z-index: 5;
    }

    #stat-holder{
        width: 80%;
        margin: auto;
    }

    #stat-summary {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }
        #game-dist-header {
            margin: 1.25rem 0 0.25rem 0;
            text-align: center;
        }

        .stat-block > .stat-num {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .stat-block > .stat-label {
            text-align: center;
            padding: 0;
            margin: 0;
            font-size: 0.5rem;
        }
    
    .stat-time {
        text-align: center;
    }
    
        .stat-time > p {
            font-size: 0.75rem;
            margin: 0.5rem 0;
        }

        .life-stat {
            text-align: center;
        }

        .life-stat > img {
            width: 15px;
        }

    .end-game-txt {
        width: 80%;
        margin: auto;
    }

    .share-btn {
        height: 50px;
        width: 150px;
        margin: 1rem auto;
        display: block;
        text-align: center;
        background-color: #55c;
        border-radius: 4px;
        box-shadow: none;
        font-weight: bold;
        color: white;
    }

#startPuzz{
    overflow-y: none;
    min-height: 550px;
}

#game-box {
    transition: 2s all;
}

#game {
    transform: translateX(-40px);
    overflow-y: none;
    min-height: 550px;
}

    .disable-select {
        pointer-events: none;
        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
    }

    .start-button {
        z-index: 0;
        height: 50px;
        width: 200px;
        background-color: #060;
        font-weight: bold;
        color: white;
        transition: all 1s;
    }

    .start-button:hover {
        z-index: 0;
        height: 50px;
        width: 220px;
        background-color: #060;
        color: white;
        transition: all 3s;
    }

    .clue-column > p {
        margin: 0.5rem 0;
        text-align: center;
        font-size: 0.75rem;
    }

    .clue-row-container{
        padding-right: 0.25rem;
        transition: 0.5s;
        max-height: 32px;
    }

    .clue-row > p {
        margin: auto;
        margin-right: 0.25rem;
        text-align: center;
        font-size: 0.75rem;
        align-self: center;
    }

    .row-clues-txt {
        margin: auto;
        margin-right: 0.25rem;
        text-align: center;
        font-size: 0.75rem;
        transition: 0.5s;
    }

    .cell {
        background: inherit;
        transition: all 0.1s ease-in;
        height: 2rem;
    }

    .ex-cell{
        background: inherit;
        transition: all 0.1s ease-in;
        height: 2rem;
        border: #888 1px solid !important;
    }

    .right {
        transition: all 0.1s ease-in;
        background-color: #111 !important;
    }

    .wrong {
        transition: all 0.1s ease-in;
        background-color: rgb(150,0,20) !important;
    }  

    .flagged {
        background-color: #ccc
    }


    .hidden { 
        opacity: 0;
        transition: all 0.5s;
    }

    .shown { 
        opacity: 1;
        transition: all 3s;
    }

    .light-{
        border: #fff 1px solid;
    }

    .dark-{
        border: #444 1px solid;
    }


    .light-right{
        transition: all 0.1s ease-in;
        background-color: #444 !important;
        border: 1px #ccc solid;
    }

    .dark-right{
        transition: all 0.1s ease-in;
        background-color: #222 !important;
        border: 1px #444 solid;
    }

    .horz-mid-thick {
        transition: all 1s;
        border-top: solid 4px;
    }

    .vert-mid-thick {
        transition: all 1s;
        border-right: solid 4px;
    }

    #clip-ping {
        width: 200px;
        padding: 1rem;
        position: absolute;
        margin-top: 3.5rem;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: 10%;
        color: black;
        border-radius: 4%;
        z-index: 3;
    }

    .win-ping{
        background-color: rgba(100,220,100,0.8);
    }

    .lose-ping{
        background-color: rgba(220,100,100,0.85);
    }

    .copy-ping{
        background-color: rgba(100,100,220,0.8);
    }
    
    .played-ping{
        background-color: rgba(204,204,204,0.3);
    }


#footer {
    border-top: 1px solid lightgray;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 2rem;
    padding-top: 1rem;
    transition: all 3s;
    overflow-y: none;
}
    #lives {
        align-self: center;
    }

    .life {
        width: 30px;
    }

    #maxLives {
        text-align: center;
    }


                                                    /* Responsiveness */
                                        /*              RESPONSIVENESS          */
                                            /*  */
                                    /*  */
                            /*  */
@media (hover: hover) {
    .dark-:hover {
        transition: all 0.1s ease-in;
        background-color: rgba(20,20,20,0.2);
    }
    .light-:hover {
        transition: all 0.2s ease-in;
        background-color: rgba(240,240,240, 0.2);
    }
    .right:hover {
        transition: all 0.1s ease-in;
        background-color: rgba(0,20,150, 0.7) !important;
    }
    .wrong:hover {
        transition: all 0.1s ease-in;
        background-color: rgba(120,0,20, 0.7) !important;
    }
}

@media screen and (max-width: 600px) {
    #settings {
        padding: 1.5rem;
    }

    #about {
        padding: 0 1.5rem;
    }

    #stats-card {
        width: 85%;
    }

    #game {
        width: 95%;
    }

    #footer {
        margin-top: 0.25rem;
        position: absolute;
        bottom: 0;

    }
    #footer > p {
        margin-top: 0;
    }
}

@media screen and (max-width: 361px) {
    #game, #startPuzz{
        width: 97%;
        margin: auto;
        margin-top: 10%;
    }

    .clue-row > p{
        font-size: 0.65rem !important;
    }
    .clue-column > p{
        font-size: 0.65rem !important;
    }
}

@media screen and (max-height: 361px) {
    #game, #startPuzz{
        width: 97%;
        margin: auto;
        margin-top: 10%;
    }

    .clue-row > p{
        font-size: 0.65rem !important;
    }
    .clue-column > p{
        font-size: 0.65rem !important;
    }
}

@media screen and (min-height: 800px) {
    #game, #startPuzz {
        margin-top: 20%;
    }

    #about {
        padding: 1rem 0;
    }

    .how-to-play {
        padding: 1rem;
    }

    .how-to-play > p {
        margin: 0.75rem 0;
    }

    .ex-grid{
        /* margin: 1rem 0; */
    }
    /* #footer {
        padding-top: 0;
        position: absolute;
        bottom: 0;
        margin-bottom: 0.25rem;

    } */
}

@media screen and (min-width: 600px) {
    #stats-card {
        width: 100%;
    }

    #game, #startPuzz {
        height: 40vh; 
        margin: auto;
        margin-top: 22.5%;
        margin-bottom: 25%;
        width: 90%;
       
    }

    #footer {
        padding: 2rem 0;
        bottom: 0;
        margin-bottom: 0.25rem;
    }
}

/* ANIMATIONS */

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: pulsate-fwd 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

    /**
    * ----------------------------------------
    * animation pulsate-fwd
    * ----------------------------------------
    */
    @-webkit-keyframes pulsate-fwd {
        0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
        50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        }
        100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
    }
    @keyframes pulsate-fwd {
        0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
        50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        }
        100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
    }

.win-animation {
    -webkit-animation: win-animation 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: win-animation 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

    /**
    * ----------------------------------------
    * animation win-animation
    * ----------------------------------------
    */
    @-webkit-keyframes win-animation {
        0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
        50% {
        -webkit-transform: scale(2);
                transform: scale(2);
        }
        100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
    }
    @keyframes win-animation {
        0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
        50% {
        -webkit-transform: scale(2);
                transform: scale(2);
        }
        100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
    }

.fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

    /**
    * ----------------------------------------
    * animation fade-in-bottom
    * ----------------------------------------
    */
    @-webkit-keyframes fade-in-bottom {
        0% {
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
        }
    }
    @keyframes fade-in-bottom {
        0% {
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
        }
    }

.fade-out-bottom {
    -webkit-animation: fade-out-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: fade-out-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
    
    /**
 * ----------------------------------------
 * animation fade-out-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
  }
  @keyframes fade-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
  }
  
  .fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

    /**
    * ----------------------------------------
    * animation fade-in-fwd
    * ----------------------------------------
    */
    @-webkit-keyframes fade-in-fwd {
        0% {
        -webkit-transform: translateZ(-80px);
                transform: translateZ(-80px);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
        }
    }
    @keyframes fade-in-fwd {
        0% {
        -webkit-transform: translateZ(-80px);
                transform: translateZ(-80px);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
        }
    }

.fade-out-bck {
    -webkit-animation: fade-out-bck 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: fade-out-bck 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

    /**
    * ----------------------------------------
    * animation fade-out-bck
    * ----------------------------------------
    */
    @-webkit-keyframes fade-out-bck {
        0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
        }
        100% {
        -webkit-transform: translateZ(-80px);
                transform: translateZ(-80px);
        opacity: 0;
        }
    }
    @keyframes fade-out-bck {
        0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
        }
        100% {
        -webkit-transform: translateZ(-80px);
                transform: translateZ(-80px);
        opacity: 0;
        }
    }

.vibrate-1 {
    -webkit-animation: vibrate-1 0.3s linear both;
            animation: vibrate-1 0.3s linear both;
}

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

.fade-in-col {
	-webkit-animation: fade-in-col 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-col 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

    /**
    * ----------------------------------------
    * animation fade-in-top
    * ----------------------------------------
    */
    @-webkit-keyframes fade-in-col {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
    }
    @keyframes fade-in-col {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
    }
  

.fade-in-row {
	-webkit-animation: fade-in-row 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-row 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
  
    /**
    * ----------------------------------------
    * animation fade-in-left
    * ----------------------------------------
    */
    @-webkit-keyframes fade-in-row {
        0% {
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
        }
    }
    @keyframes fade-in-row {
        0% {
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
        opacity: 0;
        }
        100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
        }
    }
  
.move-on-start {
    -webkit-animation: move-on-start 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: move-on-start 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

    /**
    * ----------------------------------------
    * animation fade-in-top, fade-in-right
    * ----------------------------------------
    */
    @-webkit-keyframes move-on-start {
        0% {
            opacity: 0;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
            -webkit-transform: translateX(0px);
            transform: translateX(0px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
            -webkit-transform: translateX(40px);
            transform: translateX(40px);
        }
    }
    @keyframes move-on-start {
        0% {
            opacity: 0;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
            -webkit-transform: translateX(0px);
            transform: translateX(0px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
            -webkit-transform: translateX(40px);
            transform: translateX(40px);
        }
    }

.move-on-start-footer {
    -webkit-animation: move-on-start-footer 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: move-on-start-footer 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

    /**
    * ----------------------------------------
    * animation fade-in-top, fade-in-right
    * ----------------------------------------
    */
    @-webkit-keyframes move-on-start-footer {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateX(0px);
            transform: translateX(0px);
        }
    }
    @keyframes move-on-start-footer {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateX(0px);
            transform: translateX(0px);
        }
    }

.clip-anim-in {
    -webkit-animation: clip-anim-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: clip-anim-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes clip-anim-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes clip-anim-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.clip-anim-out {
    -webkit-animation: clip-anim-out 0.6s ease-out both;
    animation: clip-anim-out 0.6s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-11 9:32:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
 @-webkit-keyframes clip-anim-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes clip-anim-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fade-out-right {
	-webkit-animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-16 15:12:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out-right
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
  }
  @keyframes fade-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
  }
  
  .solve-to-start-txt {
	-webkit-animation: solve-to-start-txt 4s ease-in-out infinite both;
	        animation: solve-to-start-txt 4s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-16 15:19:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes solve-to-start-txt {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes solve-to-start-txt {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  .wobble-ver-right {
	-webkit-animation: wobble-ver-right 0.8s both;
	        animation: wobble-ver-right 0.8s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-16 15:38:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes wobble-ver-right {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateY(-10px) rotate(6deg);
              transform: translateY(-10px) rotate(6deg);
    }
    30% {
      -webkit-transform: translateY(5px) rotate(-6deg);
              transform: translateY(5px) rotate(-6deg);
    }
    45% {
      -webkit-transform: translateY(-5px) rotate(3.6deg);
              transform: translateY(-5px) rotate(3.6deg);
    }
    60% {
      -webkit-transform: translateY(3px) rotate(-2.4deg);
              transform: translateY(3px) rotate(-2.4deg);
    }
    75% {
      -webkit-transform: translateY(-2px) rotate(1.2deg);
              transform: translateY(-2px) rotate(1.2deg);
    }
  }
  @keyframes wobble-ver-right {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateY(-10px) rotate(6deg);
        transform: translateY(-10px) rotate(6deg);
    }
    30% {
    -webkit-transform: translateY(5px) rotate(-6deg);
            transform: translateY(5px) rotate(-6deg);
    }
    45% {
    -webkit-transform: translateY(-5px) rotate(3.6deg);
            transform: translateY(-5px) rotate(3.6deg);
    }
    60% {
    -webkit-transform: translateY(3px) rotate(-2.4deg);
            transform: translateY(3px) rotate(-2.4deg);
    }
    75% {
    -webkit-transform: translateY(-2px) rotate(1.2deg);
            transform: translateY(-2px) rotate(1.2deg);
    }
}
  