:root{
    --light-bg: #fff;
    --light-txt: #111;
    --dark-bg: #111;
    --dark-txt: #eee;
    --wrong: rgb(150,0,20); 
    --cb: #e67300;
}

.light-theme {
    background-color: var(--light-bg);
    color: var(--light-txt);
    transition: all 0.3s ease-in-out;
}

.dark-theme {
    background-color: var(--dark-bg);
    color: var(--dark-txt);
    transition: all 0.3s ease-in-out;
}

html {
    overflow-x: hidden;
}

#cover-screen{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

 body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--dark-bg);
    width: 100%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  a {
    color: inherit;
  }

#app {
    max-width: 450px;
    margin: auto;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
#nav {
    margin-top: 1rem;
    display: flex;
    border-bottom: 1px solid lightgray;
    width: 100%;
    justify-content: space-between;
    overflow-y: none;
}

    #nav-about-btn {
        align-self: center;
        padding-left: 1rem;
        width: 30px;
        cursor: pointer;
    }

    #title {
        align-self: center;
        letter-spacing: 5px;
    }

    #nav-right-btns{
        display: flex;
    }
    
        #nav-stats-btn{
            align-self: center;
            padding-right: 1.5rem;
            width: 30px;
            cursor: pointer;
        }

        #nav-settings-btn{
            align-self: center;
            padding-right: 1rem;
            width: 30px;
            cursor: pointer;
        }

#about {
    position: absolute;
    top: 0;
    z-index: 1;
    min-height: 94vh;
    max-width: 450px;
    margin: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch !important;
}

    .ex-grid3-3 > div{
        margin: 0 !important;
    }

    .close-btn-about { /* Used in each settings, about and stats*/
        position: absolute;
        right: 0;
        width: 12px;
        margin-top: 1.5rem;
        margin-right: 2rem;
        cursor: pointer;
    }

    .tutorial-tile{
        position: relative;
        height: 300px;
        width: 100%;
        margin: auto;
    }

    .tutorial-tile > div {
        margin-top: 2rem;
    }

    .tutorial-tile > p {
        position: absolute;
        bottom: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .section-header > h2 {
        text-align: center;
    }

    .section-header > p {
        font-size: 0.75rem;
        padding: 0 2rem;
    }

    .how-to-play {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .how-to-play > p{
        font-size: 0.6rem;
    }

#settings {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    min-height: 90vh;
    padding: 2rem 0;
    overflow-y: none;
}


    .close-btn { /* Used in each settings, about and stats*/
        position: absolute;
        right: 0;
        width: 12px;
        margin-top: 1.5rem;
        margin-right: 2rem;
        cursor: pointer;
    }

    .setting {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px #aaa solid;
        padding: 1rem 0;
        width: 100%;
    }

    .section-txt > h3 {
        font-weight: bold;
        margin: 0;
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .section-txt > p {
        font-size: 0.6rem;
        margin: 0;
        padding: 0;
    }

    #feedback-txt {
        align-self: center;
        font-size: 0.6rem;
        justify-content: space-between;
    }

        .feedback-link, .feedback-link:link, .feedback-link:visited, .feedback-link:hover, .feedback-link:active {
            text-decoration: none !important;
            padding: 0.25rem;
            color: #aaa;
        }

    #setting-footer{
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        font-size: 0.5rem;
        width: 300px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
        min-height: 15%;
    }

#version-notes-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 96vh;
}

    #version-notes{
        position: relative;
        height: 90%;
        margin: 2rem 0;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .version-note{
        width: 80%;
        margin: auto;
        border-bottom: 1px #aaa solid;
    }

    .version-txt p, h3, p, ul {
        font-size: 0.75rem;
    }

    .version-link{
        cursor: pointer;
    }

.full-screen-cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.5);
    z-index: 4;
    overflow-y: none;
}

    .close-btn-stats { /* Used in each settings, about and stats*/
        position: absolute;
        right: 0;
        width: 12px;
        margin-top: 1.5rem;
        margin-right: 2rem;
        cursor: pointer;
    }

    .full-screen-container {
        display: grid;
        height: 100vh;
        max-width: 450px;
        margin: auto;
    }

    .card {
        width: 95%;
        place-self: center;
        min-height: 200px;
        margin: auto;
        border-radius: 4%;
        border: 1px #222 solid;
        padding-bottom: 1rem;
        z-index: 5;
    }

    #stat-holder{
        width: 80%;
        margin: auto;
    }

    #stat-summary {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }
        #game-dist-header {
            margin: 1.25rem 0 0.25rem 0;
            text-align: center;
        }

        .stat-block > .stat-num {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .stat-block > .stat-label {
            text-align: center;
            padding: 0;
            margin: 0;
            font-size: 0.5rem;
        }
    
    .stat-time {
        text-align: center;
    }
    
        .stat-time > p {
            font-size: 0.75rem;
            margin: 0.5rem 0;
        }

        .life-stat {
            text-align: center;
        }

        .life-stat > img {
            width: 15px;
        }

    .end-game-txt {
        width: 80%;
        margin: auto;
    }

    .share-btn {
        height: 50px;
        width: 150px;
        margin: 1rem auto;
        display: block;
        text-align: center;
        background-color: #55c;
        border-radius: 4px;
        box-shadow: none;
        font-weight: bold;
        color: white;
    }

#startPuzz{
    overflow-y: none;
    min-height: 475px;
}

#game-box {
    transition: 2s all;
}

#game {
    position: relative;
    transform: translateX(-35px);
    overflow-y: none;
    min-height: 475px;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

    .disable-select {
        pointer-events: none;
        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
    }

    .start-button {
        z-index: 0;
        height: 50px;
        width: 200px;
        background-color: #060;
        font-weight: bold;
        color: white;
        transition: all 1s;
    }

    .start-button:hover {
        z-index: 0;
        height: 50px;
        width: 220px;
        background-color: #060;
        color: white;
        transition: all 3s;
    }

    .clue-column > p {
        margin: 0.5rem 0;
        text-align: center;
        font-size: 0.75rem;
    }

    .clue-row-container{
        padding-right: 0.25rem;
        transition: 0.5s;
        max-height: 32px;
    }

    .clue-row > p {
        margin: auto;
        margin-right: 0.25rem;
        text-align: center;
        font-size: 0.75rem;
        align-self: center;
    }

    .row-clues-txt {
        margin: auto;
        margin-right: 0.25rem;
        text-align: center;
        font-size: 0.75rem;
        transition: 0.5s;
    }

    .cell {
        background: inherit;
        transition: all 0.1s ease-in;
        height: 2rem;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
    }

    .ex-cell{
        background: inherit;
        transition: all 0.1s ease-in;
        height: 2rem;
        border: #888 1px solid !important;
    }

    .right {
        transition: all 0.1s ease-in;
        background-color: #111 !important;
    }

    .wrong {
        transition: all 0.1s ease-in;
        background-color: rgb(150,0,20) !important;
    }  

    .color-blind-wrong{
        background-color: var(--cb) !important;
    }

    .flagged {
        transition: all 0.1s ease-in;
        background-color: #ccc
    }

    .flagged-dark{
        transition: all 0.1s ease-in;
        background-color: #444;
    }


    .hidden { 
        opacity: 0;
        transition: all 0.5s;
    }

    .shown { 
        opacity: 1;
        transition: all 3s;
    }

    .light-{
        border: #fff 1px solid;
    }

    .dark-{
        border: #444 1px solid;
    }


    .light-right{
        transition: all 0.1s ease-in;
        background-color: #ccc !important;
        border: 1px #ccc solid;
    }

    .dark-right{
        transition: all 0.1s ease-in;
        background-color: #222 !important;
        border: 1px #444 solid;
    }

    .light-flagged {
        transition: all 0.1s ease-in;
        background-color: #444
    }

    .dark-flagged {
        background-color: #ccc;
    }

    .horz-mid-thick {
        transition: all 1s;
        border-top: solid 4px;
    }

    .vert-mid-thick {
        transition: all 1s;
        border-right: solid 4px;
    }

#clip-ping {
    position: absolute;
    align-self: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    z-index: 3;
}

    #clip-ping p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .win-ping{
        background-color: rgba(100,220,100,1);
    }

    .lose-ping{
        background-color: rgba(220,100,100,1);
    }

    .copy-ping{
        background-color: rgba(100,100,220,1);
    }
    
    .played-ping{
        background-color: rgba(204,204,204,1) !important;
    }

    .mt{
        padding-top: 6rem;
    }

#footer-container{
    position: fixed;
    bottom: 0;
    border-top: 1px solid lightgray;
    width: 450px;
    padding-bottom: 6rem;
    transition: all 3s;
    overflow-y: none;
}

#footer {
    position: absolute;
    display: flex;
    width: 100%;
    padding-top: 1rem;
    top: 0;
    justify-content: space-around;
    transition: all 3s;
    overflow-y: none;
}

    .footer-stat p {
        text-align: center;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    .footer-stat div {
        margin: auto;
        text-align: center;
    }

    #lives {
        align-self: center;
    }

    .life {
        width: 30px;
    }

/*              Responsiveness           */
/*                                       */
/*                                       */
/*              RESPONSIVENESS           */
/*                                       */

@media (hover: hover) {
    .dark-:hover {
        transition: all 0.1s ease-in;
        background-color: rgba(20,20,20,0.2);
    }
    .light-:hover {
        transition: all 0.2s ease-in;
        background-color: rgba(240,240,240, 0.2);
    }
    .right:hover {
        transition: all 0.1s ease-in;
        background-color: rgba(0,20,150, 0.7) !important;
    }
    .wrong:hover {
        transition: all 0.1s ease-in;
        background-color: rgba(120,0,20, 0.7) !important;
    }
}

@media screen and (max-width: 600px) {
    #settings {
        padding: 1.5rem;
        height: 100vh;
    }

    #about {
        width: 100%;
        min-height: 100vh;
    }

    #stats-card {
        width: 85%;
    }

    #game {
        width: 95%;
    }

    #version-notes-container{
        height: 100vh;
    }

    #footer-container {
        width: 100%;
        margin: auto;
        padding-top: 0;
        position: absolute;
        bottom: 0;

    }
    #footer > p {
        margin-top: 0;
    }
}

@media screen and (max-width: 361px) {
    #game, #startPuzz{
        width: 97%;
        margin: auto;
        margin-top: 10%;
    }

    .clue-row > p{
        font-size: 0.65rem !important;
    }
    .clue-column > p{
        font-size: 0.65rem !important;
    }
}

@media screen and (max-height: 361px) {
    #game, #startPuzz{
        width: 97%;
        margin: auto;
        margin-top: 10%;
    }

    .clue-row > p{
        font-size: 0.65rem !important;
    }
    .clue-column > p{
        font-size: 0.65rem !important;
    }
}

@media screen and (min-height: 800px) {

    .how-to-play {
        padding: 1rem;
    }

    .how-to-play > p {
        margin: 0.75rem 0;
    }

    #footer-container{
        bottom: 20%;
    }
    /* #footer {
        padding-top: 0;
        position: absolute;
        bottom: 0;
        margin-bottom: 0.25rem;

    } */
}

@media screen and (min-width: 600px) {

    #stats-card {
        width: 100%;
    }

    #game, #startPuzz {
        height: 40vh; 
        margin: auto;
        margin-bottom: 25%;
        width: 90%;
       
    }

    #footer {
        padding: 2rem 0;
        bottom: 0;
        margin-bottom: 0.25rem;
    }
}